body{
   font-family: 'Courier New', monospace;
   text-align: center;
   margin: 0 20%;
   
}
   

h1{
   background-color: skyblue;
}

#target{
   font-size: 36px;
   padding: 100px 0 ;
   background-color: whitesmoke;
}

#result{
   font-size: 24px;
}

#more{
   letter-spacing: 5px;
   display: none;
   width: 100px;
   height: 50px;
   margin: 30px auto;
   color: white;
   font-size: 18px;
   background-color: rgb(83, 143, 255);
   border-radius: 5%;
   box-shadow: 0 10px 0 3px rgba(19, 82, 175, 0.733);
   cursor:pointer ;
   user-select: none;
}

#more:hover{
   opacity: 0.8;
}

#more:active{
   box-shadow: 0 3px 0 3px rgba(19, 82, 175, 0.733);
   margin-top: 37px;

}